@use "sass:math";
@use "settings" as *;
// Ці два імпорти (mixins, functions) не потрібні, тому що в vite.config.js в additionalData є імпорт includes/index.scss в якому форвардяться ці файли. Але IDE ругається бо не бачив явного імпорту в цьому файлі. Додав імпорти щоб очі не мозолило
@use "includes/mixins" as *;
@use "includes/functions" as *;
@use "includes/reset.css";
@use "fonts/fonts";
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення CSS-змінних
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 @use "includes/variables";

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Підключення загальних віддалених шрифтів (Google Fonts)
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Стилі тега BODY
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
body {
  min-width: #{$minWidth}px;
  color: $mainColor;
  background-color: $mainBgColor;
  font-family: $fontFamily;
  font-size: #{$fontSize}px;

  // Скролл заблоковано
  [data-fls-scrolllock] & {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
  // opacity: 0;
  // transition: opacity .3s;
  // Сайт завантажений
  [data-fls-loaded] & {
    // opacity: 1;
  }
}
::selection {
  background-color: rgba(59, 130, 246, 0.2);
  color: #000000;
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Оболонка WRAPPER
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;

  // Притискаємо footer
  > main {
    flex: 1 1 auto;
  }
  // Фікс для слайдерів
  > * {
    min-width: 0;
  }
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Обмежуючий контейнер
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

@if ($responsiveType==1) {
  // Чуйна
//  [class*="__container"] {
  .container {
    @if ($maxWidthContainer>0) {
      max-width: #{$containerWidth}px;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      @if ($maxWidthContainer>0) {
        padding-left: #{math.div($containerPadding, 2)}px;
        padding-right: #{math.div($containerPadding, 2)}px;
      } @else {
        padding-left: adapt(math.div($containerPadding, 2), 15);
        padding-right: adapt(math.div($containerPadding, 2), 15);
      }
    }
  }
} @else {
  // Брейк-поїнтами
  // [class*="__container"] {
  .container {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: #{$maxWidthContainer}px;
    } @else {
      @if ($containerPadding>0) {
        padding-left: #{math.div($containerPadding, 2)}px;
        padding-right: #{math.div($containerPadding, 2)}px;
      }
    }
    @media (max-width: toEm($pc)) {
      max-width: 970px;
    }
    @media (max-width: toEm($tablet)) {
      max-width: 750px;
    }
    @media (max-width: toEm($mobile)) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding-left: #{math.div($containerPadding, 2)}px;
        padding-right: #{math.div($containerPadding, 2)}px;
      }
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// Загальні стилі для усього сайту
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
