:global(.hero-section) {
  margin-top: 300px;
  height: 800px;
}

.customTrack {

}
.review {
  &Slide{}
  &Btn {
    &Prev{

    }
    &Nextqwewq{
      background-color: red;
    }
  }
  &Dot {}
}

.hero {
  &Root {

    & .heroSlide {
      width: 300px;        // або vw, %, fit-content — будь-що
      height: 200px;
      background-color: #6b5353;
      &:nth-child(1) {
        background-color: orange;
      }
      &:nth-child(2) {
        background-color: hotpink;
      }
      &:nth-child(3) {
        background-color: green;
      }
    }
  }
  &Dot{}
  &Dots{}
  &PrevBtn{}
  &NextBtn{}
}
