:global(.hero-section) {
  margin-top: 300px;
  height: 800px;
}

.customTrack {

}
.review {
  &Slide{}
  &Btn {
    &Prev{

    }
    &Nextqwewq{
      background-color: red;
    }
  }
  &Dot {}
}

.hero {
  &Root {}
  &Slide {
//    width: 300px;        // або vw, %, fit-content — будь-що
//    height: 200px;
  }
  &Dot{}
  &Dots{}
  &PrevBtn{}
  &NextBtn{}
}
